<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/static/css/timer.css" rel="stylesheet">

</head>

<body>
    <div id="pomodoro-app">
        <!-- Row 1 -->
         <div class="row">
             <!-- Column 1 -->
            <div class="column">
                <div id="container">
                    <!-- Create task -->
                    <div>
                        <h3>Create Task</h3>
                        <form action="{{ url_for('add_task') }}" method=post class=add-entry>
                            <input type="text" name="task_creator" value="" />
                          <br>
                            <input value="Create task" type="submit" class="btn btn-primary">

                        </form>
                    </div>
                    <!-- Timer -->
                    <div id="timer">
                        <div id="time">
                            <span id="minutes">25</span>
                            <span id="colon">:</span>
                            <span id="seconds">00</span>
                        </div>
                        <div id="filler"></div>
                    </div>
                    <div id="buttons">
                      <button id="work">Work</button>
                      <button id="shortBreak">Short Break</button>
                      <button id="longBreak">Long Break</button>
                      <button id="stop">Stop</button>
                    </div>
                </div>
            <!-- End column 1 -->
            </div>
            <div class="column">
            <!-- Start column 2 -->
                <h3 align="center">TODO Tasks</h3>
                <div>
                    <table id="todoTable" class="table table-condensed table-bordered table-hover" style="width:100%">
                        <thead>
                            <th>Secret Id</th>
                            <th>Creation Date</th>
                            <th>Name</th>
                        </thead>

                        <tbody>
                            {% for task in todo_tasks %}
                            <tr>
                                <td> {{ task[0] }} </td>
                                <td> {{ task[1] }} </td>
                                <td> {{ task[2] }} </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                    </table>
                </div>
            <!-- End column 2 -->
            </div>
            <!-- End row 1 -->
         </div>

        <!-- Start row 2 -->
        <div class="row" align="center">
            <!-- Tasks -->
            <div>
                <h3>Past runs</h3>
                <table id="pastTable" class="table table-condensed table-bordered table-hover" style="width:100%">
                    <thead>
                        <th>End Data</th>
                        <th>Name</th>
                        <th>Pomodoros</th>
                    </thead>

                    <tbody>
                        {% for task in past_tasks %}
                        <tr>
                            <td> {{ task[0] }} </td>
                            <td> {{ task[1] }} </td>
                            <td> {{ task[2] }} </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>
            </div>
        <!-- End row 2 -->
        </div>
    </div>

     <!-- Audio -->
     <audio id="alarm_sound">
         <source src="/static/audio/Two_Tone_Doorbell.mp3" type="audio/mpeg">
    </audio>
     <!-- JavaScript -->
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/js/timer.js"></script>

</body>

</html>